body{
   background-color: rgb(102, 102, 241);
    display: flex;
}


.midiv{
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 50vw;
    background-color: rgb(0, 0, 0)(255, 1, 1);
    margin: 5em;

}

h1{
color: rgb(6, 6, 7);
}
.welcome{
    color: rgb(248, 247, 247);
    margin: 5em;
font-size: medium;
 font-family:'Times New Roman', Times, serif;
}

.apiCallButton{
    pointer-events: stroke;
    margin: auto;
 
    border-radius:4
}
.apiCallButton h4{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
}
h6{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(252, 61, 61);
}
h4{
color: black;}