.titulo{
    margin-top: 1em;
    font-size: large;
    font-family: "Honk", system-ui;
    color: rgb(240, 240, 255);
    }
    .message {
        background-color: #f8d7da;
        color: #721c24;
        padding: 10px;
        margin-top: auto;
        border-radius: 5px;
        border: 1px solid #f5c6cb;
      }

      body{
        width: 100%;
        
        }
      .alert-container {
        text-align: center;
        margin: auto; 
    }
    
    .loading{
    width: 5em;
    height: 5em;
    
    }

    .texto2{
        font-family: "Anton", sans-serif;
        font-size: small;
        color: white;
        text-shadow: -1px -1px 0 #000,  
                          1px -1px 0 #000,
                         -1px  1px 0 #000,
                          1px  1px 0 #000;
        background-color: rgb(166, 232, 254);
        
    }
