.titulo{
    color: rgb(248, 247, 247);
 margin: 1em;
    font-size: medium;
     font-family:'Times New Roman', Times, serif;
    }
    .message {
        background-color: #f8d7da;
        color: #721c24;
        padding: 10px;
        margin-top: auto;
        border-radius: 5px;
        border: 1px solid #f5c6cb;
      }