.buscador{
width: 18em;
background-color: rgb(242, 169, 169);
margin: auto;
}

.adminDesign {

margin: 2em;
}

.userList{
margin-top: 1em;
}
.userList{
text-align: center;

}

.botones{
text-align: center;
}